.map {
        height: 400px;
        width: 100%;
        /* display: none; */
      }


#closedMap {
  float: right;
  color: red;
  /* display: none; */

}

.view-map {
  cursor: pointer;
  color: #4e73df;
}

.view-map:hover {
  text-decoration: underline;
}


#death_lat, #death_lng,
#birth_lat, #birth_lng {
  opacity: 0.5;

}
.view-death, .view-birth
{
    cursor: pointer;
}

ul.parents{
  list-style:none !important;
}

.delete_item {
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  #modalDelete {
    z-index: 9999 !important;
  }

.modal-backdrop.show {
  z-index: 0 !important;
}

.color-danger-modal {
  color: red !important;
}

.text-der {
  color: #2C7FFC !important;
}

.text-die {
  color: #D90C0C !important;
}

.text-das {
  color: #0FB61B !important;
}

.color-super-admin {
  color: red !important;
}

.color-admin {
  color: blue !important;
}

.color-user {
  color: orange !important;
}