{% extends '@shared/Parts/base-login.html.twig' %}

{% block body %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header justify-content-center">

            <div class="float-left">
                <h3 class="fw-light my-4">Cambia tu contraseña</h3>

            </div>
        </div>
        {% if success %}
            <div class="alert alert-{{ success }}">
                {% if success == 'danger' %}
                    El proceso ha caducado.
                    <br>Puedes volver a intentarlo en este link.
                    <div class="text-center">
                        <a href="{{ url('shared.forget.password') }}">Recordar Contraseña</a>
                    </div>
                {% endif %}
            </div>


        {% endif %}
        <div class="card-body">
            {% if success == 'stepone' %}
                {{ form_start(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <div class="small">
                <i class="fas fa-compact-disc"></i> {{ app_name }} <samll>v.{{ app_version }}</samll>
            </div>
        </div>

    </div>
{% endblock %}