{% extends '@shared/Parts/base-login.html.twig' %}

{% block body %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header justify-content-center">

            <div class="float-left">
                <h3 class="fw-light my-4">Recordar Password</h3>

            </div>
        </div>
        {% if success %}
            <div class="alert alert-{{ success }}">
                {% if success == 'danger' %}
                    El e-mail no existe.
                {% else %}
                    Hemos enviado un correo para proceder al cambio de Password.
                {% endif %}
            </div>


        {% endif %}
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_end(form) }}

        </div>
        <div class="card-footer text-center">
            <div class="small">
                <i class="fas fa-compact-disc"></i> {{ app_name }} <samll>v.{{ app_version }}</samll>
            </div>
        </div>

    </div>

{% endblock  %}