{% extends '@shared/Parts/base-login.html.twig' %}

{% block body %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header justify-content-center">

            <div class="float-left">
            <h3 class="fw-light my-4">Login</h3>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="card-body">
            <form action="{{ path('shared.login') }}" method="post">
                <div class="mb-3">
                    <label class="small mb-1">Email</label>
                        <input type="text" name="_username" value="" class="form-control">

                </div>
                <div class="mb-3">

                    <label  class="small mb-1">Password</label>
                        <input type="password" name="_password" value="" class="form-control">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="{{ url('shared.forget.password') }}">Has olvidado el password?</a>
                    <button class="btn btn-primary" type="submit">login</button>
                </div>
                <label>
                    <input type="checkbox" name="_remember_me" checked>
                    Recordarme
                </label>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small">
                <i class="fas fa-compact-disc"></i> {{ app_name }} <samll>v.{{ app_version }}</samll>
            </div>
        </div>

    </div>

{% endblock  %}