{% extends '@office/Parts/base-admin.html.twig' %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Crear Usuario</h6>
        </div>
        <div class="card-body form_themes">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.name) }}
            {{ form_row(form.roles) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer py-3 align-right">
            <a href="{{ url('office.users.list') }}" class="btn-success btn">
                Volver al Listado de Usuarios</a>
        </div>
    </div>

{% endblock %}