{% extends '@office/Parts/base-admin.html.twig' %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Eliminar Usuario</h6>
            <p>Estas apunto de eliminar este usario</p>
        </div>
        <div class="card-body form_themes text-danger d-flex align-items-center justify-content-center">

            <table class="table col-5">
                <tr>
                    <td>Id:</td>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <td>
                        {% if 'ROLE_SUPER_ADMIN' in user.roles  %}
                            {% set color = 'super-admin' %}
                        {% elseif 'ROLE_ADMIN' in user.roles  %}
                            {% set color = 'admin' %}
                        {% else %}
                            {% set color = 'user' %}
                        {% endif %}
                        <i class="fas fa-user mr-2 color-{{ color }}"></i>
                        {{ user.name }}</td>
                </tr>
                <tr>
                    <td>Roles:</td>
                    <td>
                        <ul>
                            {% for key,value in user.roles %}
                                <li><small>{{ value }}</small></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr >
                    <td colspan="2">
                        {{ form_start(form) }}
                        {{ form_row(form.save) }}
                        {{ form_end(form) }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-footer py-3 align-right">
            <a href="{{ url('office.users.list') }}" class="btn-success btn">
                Volver al Listado de Usuarios</a>
        </div>
    </div>

{% endblock %}