{% extends '@office/Parts/base-admin.html.twig' %}

{% block body %}
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Usuarios</h6>
   </div>
   <div class="card-body">
      <div class="table">
         <div class="row">
            <div class="col-sm-12">
               <table class="table table-border dataTable" id="dataTable" width="100%" role="grid">
                  <thead>
                  <tr role="row">
                     <th>Id</th>
                     <th>Nombre</th>
                     <th>E-Mail</th>
                     <th>Roles</th>
                     <th><small>Acciones</small></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for user in allUsers.users %}
                     <tr>
                        <td>{{ user.id }}</td>
                        <td>
                           {% if 'ROLE_SUPER_ADMIN' in user.roles  %}
                              {% set color = 'super-admin' %}
                           {% elseif 'ROLE_ADMIN' in user.roles  %}
                              {% set color = 'admin' %}
                           {% else %}
                              {% set color = 'user' %}
                           {% endif %}
                           <i class="fas fa-user mr-2 color-{{ color }}"></i> {{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                           <ul>
                           {% for key,value in user.roles %}
                              <li><small>{{ value }}</small></li>
                           {% endfor %}
                           </ul>
                        </td>
                        <td>
                           {% if 'ROLE_SUPER_ADMIN' in user.roles  %}
                           {% else %}
                           <a href="{{ url('office.users.delete', {'id': user.id }) }}" class="btn btn-danger">Eliminar</a>
                           {% endif  %}
                           <a href="{{ url('office.users.edit', {'id': user.id }) }}" class="btn btn-primary">Editar</a>
                        </td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

</div>

{% endblock %}