<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Did-web.com - Eduard Pinuaga Linares">
    <title>{% block title %}Office {% endblock %}{{ app_name }} v.{{ app_name }}</title>

    {% include '@office/Parts/icons.html.twig' %}

    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="{{ asset('office/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ asset('office/css/sb-admin-2.min.css')}}" rel="stylesheet">
        <link href="{{ asset('office/css/basic-admin.css')}}" rel="stylesheet">
    {% endblock %}

</head>
<body  class="d-flex flex-column h-100">

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set color = 'super-admin' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set color = 'admin' %}
{% else %}
    {% set color = 'user' %}
{% endif %}

<div id="wrapper">
    {% include '@office/Parts/sidebar.html.twig' %}
    <div id="content-wrapper">
        <div id="content">
            <main class="fcontainer-flui">
                {% include '@office/Parts/top-nav.html.twig' %}
                {% block body %}{% endblock %}
            </main>
        </div>
        {% include '@office/Parts/footer.html.twig' %}
    </div>

{% block javascripts %}
    <script src="{{ asset('office/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset('office/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

{% endblock %}
</div>
</body>
</html>