<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center ">
            <span>{{ app_name }} v.{{ app_version }}
            </span>
        </div>
    </div>
</footer>