<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{{ url('office.index')}}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-compact-disc"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ app_name }} <samll>v.{{ app_version }}</samll></div>
    </a>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Stock
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
           data-toggle="collapse" data-target="#collapseStock" aria-expanded="true" aria-controls="collapseStock">
            <i class="fas fa-dolly"></i>
            <span>Stock</span>
        </a>

        <div id="collapseStock" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" target="_blank" href="">xxxx</a>
            </div>
        </div>
    </li>


    {% if is_granted('ROLE_ADMIN')  %}
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Administración
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
           data-toggle="collapse" data-target="#collapseConfi" aria-expanded="true" aria-controls="collapseConfi">
            <i class="fas fa-cog"></i>
            <span>Configuración</span>
        </a>
        <div id="collapseConfi" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item" href=""> Stock</a>
                <a class="collapse-item" href="">Fuentes</a>

            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
           data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-user-alt"></i>
            <span>Usuarios</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item" href="{{ url('office.users.list') }}">Listado de usuarios</a>
                <a class="collapse-item" href="{{ url('office.users.create') }}">Añadir usuario</a>

            </div>
        </div>
    </li>
    {% endif %}

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Otros
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
           data-toggle="collapse" data-target="#collapseMisWebs" aria-expanded="true" aria-controls="collapseMisWebs">
            <i class="fas fa-globe"></i>
            <span>Mis Webs</span>
        </a>

        <div id="collapseMisWebs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% if  url_discogs %}
                    <a class="collapse-item" target="_blank" href="{{ url_discogs }}"><span>Discogs.com</span></a>
                {% endif %}
                {% if url_todocoleccion %}
                    <a class="collapse-item" target="_blank" href="{{ url_todocoleccion }}"><span>TodoColección.com</span></a>
                {% endif %}
                {% if url_web %}
                    <a class="collapse-item" target="_blank" href="{{ url_web }}"><span>{{ name_web }}</span></a>
                {% endif %}
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#"
           data-toggle="collapse" data-target="#collapseAyuda" aria-expanded="true" aria-controls="collapseAyuda">
            <i class="fas fa-book"></i>
            <span>Ayuda</span>
        </a>

        <div id="collapseAyuda" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">Pregutas Frecuentes</a>
                <a class="collapse-item" href="">Documentación</a>
                <a class="collapse-item" href="">Contacto de ayuda</a>
            </div>
        </div>
    </li>


</ul>
<!-- End of Sidebar -->