<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    {% block titlesH1 %}
        <h5 class="d-md-none">
            {{ store_name }} <small>{{ app_name }}</small></h5>
        <h1 class="d-none d-lg-block">
            {{ store_name }}</h1>
    {% endblock %}

    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                <i class="fas fa-user mr-2 color-{{ color }}"></i> Hola <b>{{ app.user.name }}</b> !
            </span>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li  class="nav-item">
            <a href="{{ url('shared.logout') }}" >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> <small>Logout</small>
            </a>
        </li>

    </ul>

</nav>